body {
  background-color: #131518;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Overpass", sans-serif;
  font-size: 62.5%;
}

.card {
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  border-radius: 3em;
  width: 41.2em;
  height: 41.6em;
}

.card-content {
  margin: 3.2em;
}

.star-background {
  background-color: #262e38;
  width: 4.8em;
  height: 4.8em;
  border-radius: 4.8em;
}

.image {
  display: flex;
  justify-content: center;
}

img {
  margin-top: 1.5em;
}

h1 {
  font-size: 2.8em;
  font-weight: 700;
  color: white;
}

.card p {
  font-size: 1.5em;
  color: #969fad;
  line-height: 24px;
  margin-bottom: 24px;
}

.ratings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.rating {
  font-size: 1.6em;
}

.rating-background {
  background-color: #262e38;
  width: 5.1em;
  height: 5.1em;
  border-radius: 5.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7c8798;
  transition: all 260ms ease-in-out;
}

.rating-background:hover {
  background-color: #fc7614;
  color: white;
}
.changedColor {
  background-color: #7c8798;
  color: white;
}

button {
  background-color: #fc7614;
  color: white;
  display: block;
  width: 341px;
  height: 45px;
  border-radius: 22.5px;
  margin: 0 auto;
  text-transform: uppercase;
  border: none;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all 260ms ease-in-out;
}

button:hover {
  background-color: white;
  color: #fc7614;
  cursor: pointer;
}

.attribution {
  font-size: 1.1em;
}

.attribution a {
  color: hsl(0, 2%, 61%);
}

footer {
  position: fixed;
  bottom: 0;
  color: hsl(0, 0%, 36%);
}
