body {
  background-color: #131518;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Overpass", sans-serif;
}
.card {
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  border-radius: 30px;
  color: white;
  width: 412px;
  height: 416px;
  padding: 32px;
}
h1 {
  font-size: 28px;
  font-weight: 700;
}
.card p {
  font-size: 15px;
  color: #969fad;
  line-height: 24px;
  padding-right: 32px;
  margin-right: 40px;
  margin-bottom: 24px;
}
.star-background {
  background-color: #262e38;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  margin-bottom: 30px;
}
.image {
  display: flex;
  justify-content: center;
}
img {
  margin-top: 15px;
}
.ratings {
  display: flex;
  justify-content: space-around;
  margin-bottom: 32px;
  margin-right: 40px;
}
.rating-background {
  background-color: #262e38;
  width: 51px;
  height: 51px;
  border-radius: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7c8798;
}
button {
  background-color: hsl(25, 97%, 53%);
  color: white;
  display: block;
  width: 341px;
  height: 45px;
  border-radius: 22.5px;
  margin: 0 auto;
  text-transform: uppercase;
  border: none;
  margin-right: 40px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
}
.attribution {
  font-size: 11px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
footer {
  position: fixed;
  bottom: 0;
}
